body {
    background-color: #EEE;
    margin: 0px;
}

.main_window {
    height: 55em;
}

.mw_button_cluster {
    display: flex;
    justify-content: space-evenly;
}

.mw_button {
    user-select: none;
    width: 100%;
    background-color: #112;
    text-align: center;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.mw_button_selected {
    user-select: none;
    width: 100%;
    background-color: #123;
    text-align: center;
    color: #AEF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.mw_button:hover {
    color: #1CF;
    background-color: #134;
    cursor: pointer;
}

.react_icon {
    margin-right: 1em;
    width: 2em;
    height: 2em;
}

.mw_button_underlining {
    width: 100%;
    height: 4px;
    background: #61dafb;
    /*display: none;*/
}

.mw_button div, .mw_button_selected div {
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
}
